In [ ]:
#requires original data set (100k_a.csv), train and test sets
import pandas as pd
import numpy as np

df_train = pd.read_csv('100k_a.csv')
df_train = df_train.rename(columns={"1": "UserID", "33842865744": "StreamID", "mithrain": "ChannelID", "154": "Start", "156": "Stop"})
df_train.head()

   UserID     StreamID    ChannelID  Start  Stop
0       1  33846768288        alptv    166   169
1       1  33886469056     mithrain    587   588
2       1  33887624992         wtcn    589   591
3       1  33890145056    jrokezftw    591   594
4       1  33903958784  berkriptepe    734   737

In [ ]:
frequency = df_train.groupby(["UserID", "ChannelID","StreamID"]).count()
frequency
#you want ChannelID not StreamID

                                 Start  Stop
UserID ChannelID    StreamID
1      alptv        33846768288      1     1
       berkriptepe  33903958784      1     1
       elraenn      34079135968      1     1
                    34236660832      1     1
       eraymaskulen 34237817856      1     1
...                                ...   ...
100000 mckytv       34167930576      1     1
       natehill     34168288656      1     1
       ninja        33900582288      1     1
       replays      33898218240      1     1
       symfuhny     34181187808      1     1

[3051732 rows x 2 columns]

In [ ]:
frequency = df_train.groupby(["UserID", "ChannelID"]).count()
frequency

                     StreamID  Start  Stop
UserID ChannelID
1      alptv                1      1     1
       berkriptepe          1      1     1
       elraenn              2      2     2
       eraymaskulen         1      1     1
       esl_csgo             1      1     1
...                       ...    ...   ...
100000 mckytv               1      1     1
       natehill             1      1     1
       ninja                1      1     1
       replays              1      1     1
       symfuhny             1      1     1

[1505158 rows x 3 columns]

In [ ]:
frequency = frequency.reset_index()
frequency

         UserID     ChannelID  StreamID  Start  Stop
0             1         alptv         1      1     1
1             1   berkriptepe         1      1     1
2             1       elraenn         2      2     2
3             1  eraymaskulen         1      1     1
4             1      esl_csgo         1      1     1
...         ...           ...       ...    ...   ...
1505153  100000        mckytv         1      1     1
1505154  100000      natehill         1      1     1
1505155  100000         ninja         1      1     1
1505156  100000       replays         1      1     1
1505157  100000      symfuhny         1      1     1

[1505158 rows x 5 columns]

In [ ]:
frequency = frequency.iloc[:,[0,1,2]]
frequency

         UserID     ChannelID  StreamID
0             1         alptv         1
1             1   berkriptepe         1
2             1       elraenn         2
3             1  eraymaskulen         1
4             1      esl_csgo         1
...         ...           ...       ...
1505153  100000        mckytv         1
1505154  100000      natehill         1
1505155  100000         ninja         1
1505156  100000       replays         1
1505157  100000      symfuhny         1

[1505158 rows x 3 columns]

In [ ]:
frequency = frequency.rename(columns={"StreamID": "Frequency"})
frequency

         UserID     ChannelID  Frequency
0             1         alptv          1
1             1   berkriptepe          1
2             1       elraenn          2
3             1  eraymaskulen          1
4             1      esl_csgo          1
...         ...           ...        ...
1505153  100000        mckytv          1
1505154  100000      natehill          1
1505155  100000         ninja          1
1505156  100000       replays          1
1505157  100000      symfuhny          1

[1505158 rows x 3 columns]

In [ ]:
#now we try to see how many unique channels a user watches
cycle = df_train.groupby(["UserID", "ChannelID"]).count().reset_index()
cycle
#this groups multiple watches

         UserID     ChannelID  StreamID  Start  Stop
0             1         alptv         1      1     1
1             1   berkriptepe         1      1     1
2             1       elraenn         2      2     2
3             1  eraymaskulen         1      1     1
4             1      esl_csgo         1      1     1
...         ...           ...       ...    ...   ...
1505153  100000        mckytv         1      1     1
1505154  100000      natehill         1      1     1
1505155  100000         ninja         1      1     1
1505156  100000       replays         1      1     1
1505157  100000      symfuhny         1      1     1

[1505158 rows x 5 columns]

In [ ]:
cycle = cycle.iloc[:,[0,1]]
User_Deg = cycle.groupby(["UserID"]).count()
User_Deg

        ChannelID
UserID
1              19
2              17
3               8
4              20
5               2
...           ...
99996          10
99997           5
99998           4
99999          13
100000          8

[100000 rows x 1 columns]

In [ ]:
User_Deg = User_Deg.reset_index()
User_Deg

       UserID  ChannelID
0           1         19
1           2         17
2           3          8
3           4         20
4           5          2
...       ...        ...
99995   99996         10
99996   99997          5
99997   99998          4
99998   99999         13
99999  100000          8

[100000 rows x 2 columns]

In [ ]:
User_Deg = User_Deg.iloc[:,[0,1]]
User_Deg = User_Deg.rename(columns={"ChannelID": "User_Deg"})
User_Deg

       UserID  User_Deg
0           1        19
1           2        17
2           3         8
3           4        20
4           5         2
...       ...       ...
99995   99996        10
99996   99997         5
99997   99998         4
99998   99999        13
99999  100000         8

[100000 rows x 2 columns]

In [ ]:
#gets channel degree
df_train.groupby(["ChannelID", "UserID"]).count()
#removes repeated watches

                          StreamID  Start  Stop
ChannelID         UserID
0007_hot_kelly_tv 65759          1      1     1
                  70318          1      1     1
000aikia000       22714          1      1     1
0011am            43913          1      1     1
001_ssmashh_100   20539          3      3     3
...                            ...    ...   ...
zzzz1123x2018     89777          1      1     1
zzzz758           62520          2      2     2
zzzzydh           79403          1      1     1
zzzzzzzach        538            1      1     1
                  39973          5      5     5

[1505158 rows x 3 columns]

In [ ]:
cycle2 = df_train.groupby(["ChannelID", "UserID"]).count().reset_index()
cycle2

                 ChannelID  UserID  StreamID  Start  Stop
0        0007_hot_kelly_tv   65759         1      1     1
1        0007_hot_kelly_tv   70318         1      1     1
2              000aikia000   22714         1      1     1
3                   0011am   43913         1      1     1
4          001_ssmashh_100   20539         3      3     3
...                    ...     ...       ...    ...   ...
1505153      zzzz1123x2018   89777         1      1     1
1505154            zzzz758   62520         2      2     2
1505155            zzzzydh   79403         1      1     1
1505156         zzzzzzzach     538         1      1     1
1505157         zzzzzzzach   39973         5      5     5

[1505158 rows x 5 columns]

In [ ]:
channel_links = cycle2.groupby(["ChannelID"]).count().reset_index()
channel_links

                ChannelID  UserID  StreamID  Start  Stop
0       0007_hot_kelly_tv       2         2      2     2
1             000aikia000       1         1      1     1
2                  0011am       1         1      1     1
3         001_ssmashh_100       1         1      1     1
4                 001live       1         1      1     1
...                   ...     ...       ...    ...   ...
162620     zzztantrikazzz       5         5      5     5
162621      zzzz1123x2018       8         8      8     8
162622            zzzz758       1         1      1     1
162623            zzzzydh       1         1      1     1
162624         zzzzzzzach       2         2      2     2

[162625 rows x 5 columns]

In [ ]:
Channel_Deg = channel_links.iloc[:,[0,1]]
Channel_Deg = Channel_Deg.rename(columns={"UserID": "Channel_Deg"})
Channel_Deg

                ChannelID  Channel_Deg
0       0007_hot_kelly_tv            2
1             000aikia000            1
2                  0011am            1
3         001_ssmashh_100            1
4                 001live            1
...                   ...          ...
162620     zzztantrikazzz            5
162621      zzzz1123x2018            8
162622            zzzz758            1
162623            zzzzydh            1
162624         zzzzzzzach            2

[162625 rows x 2 columns]

In [ ]:
real_train = pd.read_csv('train.csv')
real_train.head()

,Unnamed: 0,User,ChannelName,WatchTime,WatchTimeMean,WatchTimeStd,z_score,z_score_scaled
0,1160249,77626,faceittv,3,6.931034,14.255541,-0.275755,0.148307
1,928588,62308,kanjugen,3,11.708333,18.276471,-0.476478,0.131203
2,1352534,90139,raskology_,4,6.888889,8.557189,-0.337598,0.143037
3,1140552,76333,serafani,2,3.261905,5.407330,-0.233369,0.151919
4,297125,19943,justfoxii,1,8.041667,15.272135,-0.461079,0.132515

In [ ]:
len(frequency)
#1505158
len(real_train)
#1429900

1429900

In [ ]:
#with_min_max = df_train_short.merge(max_times, on='UserID').merge(min_times, on='UserID')
frequency_r = frequency.rename(columns={"UserID": "User", "ChannelID": "ChannelName"})
real_train = real_train.merge(frequency_r, on=['User','ChannelName'])

In [ ]:
len(real_train)
#great size stayed same, now repeat
#1429900

1429900

In [ ]:
User_Deg_r = User_Deg.rename(columns={"UserID": "User"})
Channel_Deg_r = Channel_Deg.rename(columns={"ChannelID": "ChannelName"})
real_train = real_train.merge(User_Deg_r, on=['User']).merge(Channel_Deg_r, on=['ChannelName'])
real_train

,Unnamed: 0,User,ChannelName,WatchTime,WatchTimeMean,WatchTimeStd,z_score,z_score_scaled,Frequency,User_Deg,Channel_Deg
0,1160249,77626,faceittv,3,6.931034,14.255541,-0.275755,0.148307,2,30,2310
1,1085184,72552,faceittv,7,17.772727,24.368542,-0.442075,0.134135,3,25,2310
2,344580,23058,faceittv,4,4.119048,6.881772,-0.017299,0.170330,4,49,2310
3,1114341,74511,faceittv,6,7.782609,10.977049,-0.162394,0.157967,4,23,2310
4,54991,3823,faceittv,2,8.478873,22.436190,-0.288769,0.147198,1,74,2310
...,...,...,...,...,...,...,...,...,...,...,...
1429895,666125,44532,lloydchild,1,1.000000,1.000000,0.000000,0.171804,1,2,1
1429896,459795,30826,billyblue,41,41.000000,1.000000,0.000000,0.171804,13,1,1
1429897,8197,580,karnaval182,29,29.000000,1.000000,0.000000,0.171804,5,1,1
1429898,1162693,77784,simply_bunbun,15,15.000000,1.000000,0.000000,0.171804,5,1,1
1429899,890811,59727,kamu_el_manco,43,43.000000,1.000000,0.000000,0.171804,5,1,1

In [ ]:
len(real_train)
#great size stayed same, now repeat
#1429900

1429900

In [ ]:
real_train = real_train.iloc[:,[1,2,7,8,9,10]]
real_train

,User,ChannelName,z_score_scaled,Frequency,User_Deg,Channel_Deg
0,77626,faceittv,0.148307,2,30,2310
1,72552,faceittv,0.134135,3,25,2310
2,23058,faceittv,0.170330,4,49,2310
3,74511,faceittv,0.157967,4,23,2310
4,3823,faceittv,0.147198,1,74,2310
...,...,...,...,...,...,...
1429895,44532,lloydchild,0.171804,1,2,1
1429896,30826,billyblue,0.171804,13,1,1
1429897,580,karnaval182,0.171804,5,1,1
1429898,77784,simply_bunbun,0.171804,5,1,1
1429899,59727,kamu_el_manco,0.171804,5,1,1

In [ ]:
test = pd.read_csv('test.csv')
test.head()

,Unnamed: 0,User,ChannelName,WatchTime,WatchTimeMean,WatchTimeStd,z_score,z_score_scaled
0,15,1,unlostv,6,6.166667,8.089761,-0.020602,0.170049
1,21,2,dmdtkadl69,3,4.200000,9.945869,-0.120653,0.161523
2,25,2,kimhj1478,2,4.200000,9.945869,-0.221197,0.152956
3,62,4,videoyun,3,4.894737,6.636141,-0.285518,0.147475
4,69,6,kyuhan7171,1,1.000000,1.000000,0.000000,0.171804

In [ ]:
len(test)
#70580

70580

In [ ]:
test = test.merge(frequency_r, on=['User','ChannelName'])
test = test.merge(User_Deg_r, on=['User']).merge(Channel_Deg_r, on=['ChannelName'])
test = test.iloc[:,[1,2,7,8,9,10]]
test

,User,ChannelName,z_score_scaled,Frequency,User_Deg,Channel_Deg
0,1,unlostv,0.170049,2,19,347
1,9090,unlostv,0.166778,3,36,347
2,9532,unlostv,0.136420,1,14,347
3,10260,unlostv,0.118027,1,4,347
4,11666,unlostv,0.119496,1,17,347
...,...,...,...,...,...,...
70575,99966,ldw1472,0.188797,2,50,2
70576,99969,rundgong,0.126881,1,5,13
70577,99974,effycs,0.155229,1,27,4
70578,99989,fable165469,0.150885,2,48,38
70579,99994,xevandroalmeidax,0.134794,1,16,3

In [ ]:
len(test)
#70580

70580

In [ ]:
real_train.to_csv('meta_train.csv')

In [ ]:
test.to_csv('meta_test.csv')

In [ ]:
!zip -r '/content/meta.zip' '/content/meta_train.csv'

  adding: content/meta_train.csv (deflated 65%)